@import "../../assets/css/colors";

.navbar {
  width: 100%;
  background: $red-color-darker !important;

  .left-elements {
    margin-right: 20px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-shadow: 0 0 5px white;
      }
    }
  }

  .center-elements {
    flex: 1;
    display: flex;
    column-gap: 20px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-shadow: 0 0 5px white;
      }
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  .right-elements {
    @media (max-width: 750px) {
      flex: 1;

      > * {
        float: right;
      }
    }
  }
}