@import "@/assets/css/colors";

.home-page {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-bottom: 20px;

  .header-section {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: 1100px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .tech-skills-section {
    padding: 20px;
    background: $dark-color;
    box-shadow: 0 1px 10px 5px rgba(black, 0.3);

    .title {
      display: flex;
      align-items: flex-end;
      column-gap: 10px;

      h1 {
        margin-top: 0;
      }

      h3 {
        color: $subtle-color;
      }

      .show-all-skills {
        font-weight: 200;
        color: $blue-color;

        &:hover {
          cursor: pointer;
          color: $blue-color-light;
        }
      }
    }

    .content-container {
      .tech-table {
        width: 100%;
        border-spacing: 0 15px;

        .headings {
          th {
            font-size: 20px;
            font-weight: 700;
            height: 40px;
            text-align: start;
            border-bottom: 1px solid $subtle-color;

            &:nth-of-type(1) {
              width: 20%;
            }

            &:nth-of-type(2) {
              width: 10%;
            }

            &:nth-of-type(3) {
              width: 40%;
            }

            &:nth-of-type(4) {
              width: 15%;
            }

            &:nth-of-type(5) {
              width: 25%;
            }
          }
        }

        .loading {
          &-row {
            td {
              display: revert !important;
            }
          }

          &-container {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }

        tr {
          &:nth-of-type(2) {
            td {
              padding-top: 5px;
            }
          }

          .tech-skill {
            transition: .2s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }

          td:first-child {
            width: fit-content;
            display: flex;
            column-gap: 25px;
            align-items: center;

            span {
              font-size: 20px;
              font-weight: 400;
              color: $blue-color;
            }

            &:hover {
              cursor: pointer;

              span {
                color: $blue-color-light;
              }
            }
          }
        }
      }
    }
  }
}