@import "../../assets/css/colors";

.home-page {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  .header-section {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: 1100px) {
      flex-direction: column;
      row-gap: 20px;
    }

    .my-bio {
      flex-basis: 55%;
      background: $dark-color;
      box-shadow: 0 1px 10px 5px rgba(black, 0.3);
      padding: 20px;
      display: flex;
      column-gap: 20px;

      .image-container {
        display: flex;
        align-items: center;
        flex-basis: 200px;

        img {
          width: 200px;
          height: 200px;
          object-fit: contain;
          border-radius: 10px;
        }
      }

      .content-container {
        flex: 1;

        h1 {
          margin: 0;
        }
      }
    }

    .current-employment {
      &-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        max-height: 320px;
      }

      width: 500px;
      padding: 20px;
      background: $dark-color;
      box-shadow: 0 1px 10px 5px rgba(black, 0.3);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-section {
          h2 {
            margin: 0;
          }

          .position {
            display: flex;
            align-items: center;
            column-gap: 10px;

            &-text {
              font-size: 1.1rem;
            }
          }
        }

        .right-section {
          text-align: center;
          width: 150px;
          height: 100px;

          img {
            object-fit: contain;
            height: 100%;
            border-radius: 10px;
          }
        }
      }

      .stack-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-section {
          h2 {
            margin-top: 0;
          }

          .technologies-container {
            display: flex;
            column-gap: 20px;

            .icon-card {
              transition: .2s ease-in-out;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        .right-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 150px;
          height: 100px;

          h2 {
            margin: 0;

            &:first-of-type {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .tech-skills-section {
    padding: 20px;
    background: $dark-color;
    box-shadow: 0 1px 10px 5px rgba(black, 0.3);

    .title {
      display: flex;
      align-items: flex-end;
      column-gap: 10px;

      h1 {
        margin-top: 0;
      }

      h3 {
        color: $subtle-color;
      }

      .show-all-skills {
        font-weight: 200;
        color: $blue-color;

        &:hover {
          cursor: pointer;
          color: $blue-color-light;
        }
      }
    }

    .tech-table {
      width: 100%;

      .headings {
        th {
          font-size: 20px;
          font-weight: 700;
          height: 40px;
          text-align: start;

          &:nth-of-type(1) {
            width: 20%;
          }

          &:nth-of-type(2) {
            width: 20%;
          }

          &:nth-of-type(3) {
            width: 35%;
          }

          &:nth-of-type(4) {
            width: 15%;
          }

          &:nth-of-type(5) {
            width: 20%;
          }
        }
      }

      tr {
        &:not(:last-of-type):not(:first-of-type) td {
          padding-bottom: 20px;
        }

        td:first-child {
          width: fit-content;
          display: flex;
          column-gap: 25px;
          align-items: center;

          span {
            font-size: 20px;
            font-weight: 400;
            color: $blue-color;
          }

          &:hover {
            cursor: pointer;

            span {
              color: $blue-color-light;
            }
          }
        }
      }
    }
  }
}