.circular-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > * {
    position: absolute;
  }
  .MuiCircularProgress {
    &-circle {
      transition: stroke-dashoffset 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}