@import "@/assets/css/colors.scss";

.recommendation {
  padding: 25px;
  background-color: $dark-color-very-dark;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 10px 5px rgba(black, 0.3);
  position: relative;

  &-state {
    position: absolute;
    top: 10px;
    left: 10px;

    &-button {
      padding: 8px 10px;
      border: 1px solid;
      border-radius: 5px;

      &.pending {
        border-color: $orange-color;
        color: $orange-color;
      }
      &.posted {
        border-color: $green-color-dark;
        color: $green-color-dark;
      }
      &.rejected {
        border-color: $red-color-dark;
        color: $red-color-dark;
      }
    }
  }

  &-avatar-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-project-details {
    h3, h4 {
      margin: 0;
    }

    h3 {
      margin-top: 20px !important;
      font-weight: 400;
    }

    h4 {
      font-weight: 100;
    }
  }

  &-description-container {
    margin: 20px 0;
    font-style: italic;
  }

  &-user-info-container {
    h3, h4 {
      margin: 0;
    }

    h4 {
      font-weight: 200;
    }
  }

  &-rating-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .MuiRating-icon {
      color: #fdd835;
    }
  }
}