$subtle-color: #bdbdbd;
$subtle-color-light: #efefef;
$subtle-color-dark: #8d8d8d;

$dark-color: #424242;
$dark-color-very-dark: #212121;
$dark-color-light: #6d6d6d;
$dark-color-darker: #373737;

$red-color: #f44336;
$red-color-light: #e57373;
$red-color-dark: #d32f2f;

$blue-color: #42a5f5;
$blue-color-light: #80d6ff;
$blue-color-dark: #0077c2;

$yellow-color: #fdd835;
$yellow-color-light: #ffff6b;
$yellow-color-dark: #c6a700;