@import "@/assets/css/colors.scss";

.recommendations-page {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &-my-recommendations {
    border-radius: 5px;
    padding: 20px;
    background-color: $dark-color-darker;
    box-shadow: 0 1px 10px 5px rgba(black, 0.3);

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        margin: 0;
      }
    }

    .container {
      margin-top: 20px;

      h3 {
        margin: 0;
        font-weight: 400;
      }

      .recommendation {
        transition: .2s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  &-all-recommendations {
    padding: 20px;
    background-color: $dark-color-darker;
    box-shadow: 0 1px 10px 5px rgba(black, 0.3);
    border-radius: 5px;

    .header {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        margin: 0;
      }
    }

    .container {
      margin-top: 40px;

      h3 {
        margin: 0;
        font-weight: 400;
      }

      .recommendation {
        transition: .2s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .hidden-recommendation {
    opacity: 0;
    filter: blur(5px);
    transform: scale(0);
    transition: all 1s;
  }

  .show-recommendation {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}