@import "@/assets/css/colors.scss";

.current-employment {
  &-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    max-height: 280px;
  }

  width: 500px;
  padding: 20px;
  background: $dark-color;
  box-shadow: 0 1px 10px 5px rgba(black, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-section {
      h2 {
        margin: 0;
      }

      .position {
        margin-top: 10px;
      }

      .position, .current-employment-project {
        h3 {
          margin: 0;
        }

        display: flex;
        align-items: center;
        column-gap: 10px;

        &-text {
          font-size: 1.1rem;
        }
      }
    }

    .right-section {
      text-align: center;
      width: 150px;
      height: 100px;

      img {
        object-fit: contain;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  .stack-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-section {
      h2 {
        margin-top: 0;
      }

      .technologies-container {
        display: flex;
        column-gap: 20px;

        .icon-card {
          transition: .2s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 150px;
      height: 100px;

      h2 {
        margin: 0;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }
}
