@import "@/assets/css/colors.scss";

.navbar {
  height: 60px;
  width: 100%;
  background: $red-color-dark !important;

  .left-elements {
    height: 100%;
    margin-right: 20px;

    h3 {
      display: flex;
      align-items: center;
      column-gap: 10px;
      height: 100%;
      margin: 0;
    }

    img {
      height: 80%;
      object-fit: contain;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-shadow: 0 0 5px white;
      }
    }
  }

  .center-elements {
    margin-left: 20px;
    flex: 1;
    display: flex;
    column-gap: 20px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-shadow: 0 0 5px white;
      }
    }

    @media (max-width: 800px) {
      display: none;
    }
  }

  .right-elements {
    display: flex;

    .login-container {
      margin-right: 30px;
    }

    @media (max-width: 800px) {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}