@import "@/assets/css/colors.scss";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .page-content {
    flex: 1;
    max-width: 1400px;
    margin: 20px auto;

    @media (max-width: 1200px) {
      margin: 20px;
    }
  }
}

.subtle {
  color: $subtle-color;
}