@import "@/assets/css/colors.scss";

.add-recommendation-modal {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  h2 {
    margin-top: 5px;
  }

  p {
    margin-top: 0;
  }

  &-edit-project-name {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0 8px 10px 8px;

    h3 {
      margin: 0;
    }
  }

  .user-rating {
    margin: 5px 8px 0 8px;
    h3 {
      margin: 0;
      font-weight: 200;
    }

    .MuiRating-icon {
      color: #fdd835;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 10px;

    button {
      column-gap: 5px;
      background-color: $red-color-dark;
    }
  }
}